@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* Images created by: https://unsplash.com/@pawel_czerwinski */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

#cavas-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  z-index: -5;
  margin: 0;
  padding: 0;
  position: fixed;
  touch-action: none;
  top: 0;
  left: 0;
}

.player-container {
  height: 525px;
  width: 400px;
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
  height: 300px;
  width: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 90%;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

.volume-container {
  background: #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 130px;
  height: 10px;
  width: 40%;
  cursor: pointer;
}

.volume-bar {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show volume level */
  width: 70%;
  transition: width 0.1s linear;
}

.volume-container:hover .volume-bar {
  background: #818181;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

/* Media Query: 600px */
@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  .player-container {
    width: 65vw;
  }

  .img-container {
    left: 30px;
    width: 85%;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 80px;
  }
}

/* Media Query: 500px */
@media screen and (max-width: 500px) {
  .player-controls {
    top: -10px;
    left: 40px;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  body {
    width: 100%;
  }
  .player-container {
    width: 80vw;
  }

  .img-container {
    left: 24px;
    width: 85%;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 40px;
  }
}

/* Galaxy Fold */
@media screen and (max-width: 281px) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 20px;
    width: 80vw;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .player-controls {
    margin-top: 15px;
    left: 100px;
  }
}
